:root {
  --main-color: #009688;
  --disable-color: #0096876e;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10vh auto;
  text-align: center;
}
@media (max-width: 763px) {
  .container {
    width: 95%;
  }
}
.container h3 {
  background: white;
  padding: 70px 30px;
  font-size: 40px;
  color: var(--main-color);
  position: relative;
  word-break: break-all;
  border-radius: 6px;
  margin: 0;
}
.container .password-control {
  margin: 3vh auto;
  width: 100%;
  position: relative;
}
.container .password-control span {
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.container .copy {
  background-color: var(--main-color);
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #eee;
  width: 25%;
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

@media (max-width: 763px) {
  .container h3 {
    padding: 40px 15px;
    font-size: 25px;
  }
  .container .copy {
    font-size: 16px;
  }
}
h3 button {
  position: absolute;
}
.container #btn {
  padding: 20px 0;
  background: var(--main-color);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 6px;
}

.check form {
  padding: 20px 10px;
}

.check form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 763px) {
  .check form div {
    flex-basis: 100%;
  }
}
.check form input[type="checkbox"] {
  display: none;
}

.check form label {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.check form label::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
  top: 0px;
  right: 0px;
  border-radius: 15px;
}
.check form label .slider {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--disable-color);
  border-radius: 50%;
  top: 0;
  transition: 0.3s;
  right: 25px;
  cursor: pointer;
}
.check form label input[type="checkbox"]:checked + .slider {
  right: 0;
  background-color: var(--main-color);
}

.countdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
}
.countdiv div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  background-color: var(--main-color);
  border-radius: 6px;
  color: #eee;
  font-weight: bold;
  align-items: center;
}
#count {
  width: 35%;
  padding: 4px 0 4px 20px;
  font-size: 18px;
  color: var(--main-color);
  background-color: #eee;
  font-weight: bold;
  border: none;
}
